.about-me-container { 
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container { 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-me-wrapper { 
    display: flex;
    height: 100%;
    width: 100%;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 100px 0;
}

.about-me-header,
.about-me-description {
    font-family: "articulat-cf", sans-serif;
    color: #fff;
}

.about-me-header { 
    justify-self: center;
    align-self: center;
    margin: 1em auto;
}
.about-me-description { 
    line-height: 2.00625em;
    font-size: 1.25em;
    padding: 0 10em;
}
.luis-picture { 
    justify-self: center;
    align-self: center;
    background-image: url('../../assets/luis-riverside-monochrome-mist-2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    width: 400px;
}

.button-wrapper { 
    display: flex;
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0);
    border: 1px solid #fff;
    padding: 2%;
    width: 200px;
    margin: 2% auto;
  }
  
  .button-text { 
    font: normal normal normal 1em Klavika Basic;
    font-family: klavika-web, sans-serif;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
  }

  @media all and (max-width: 960px) { 
    .about-me-description { 
        padding: 0 2em;
    }
  }

  @media all and (max-width: 380px) { 
    .about-me-description { 
        padding: 0 1em;
    }

    .about-me-wrapper { 
        padding: 100px 0 100px 0;
    }
  }
