.homepage-container { 
  display: flex;
  flex-flow: wrap;
  height: 100%;
  width: 100%;
}

.image-container {
  display: block;
  width: 90% !important;
  height: 700px;
  max-height: 100%;
  margin: 0 auto;
}
.inlimbo-img {
  position: relative;
  display: block;
  width: 100%;
  margin: auto;
  object-fit: scale-down;
}

.carousel-container { 
    display: block;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
    background-color: #000;
}
/* #portraiture::before{
  content: "";
  background-image: url("../../assets/3-in-1-luis.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  z-index: -1;
  position: fixed;
  height: 100%;
  width: 100%;
} */
#urban::before{
  content: "";
  background-image: url("../../assets/london-inlimbo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  z-index: -1;
  position: fixed;
  height: 100%;
  width: 100%;
}
#nature::before{
  content: "";
  background-image: url("../../assets/craggin-inlimbo-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  z-index: -1;
  position: fixed;
  height: 100%;
  width: 100%;
}
.section-container { 
  position: relative;
}

.section-container { 
  width: 100%;
}

.section-wrapper { 
  display: flex;
  flex-flow: wrap;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;

}
.section-header { 
  text-transform: uppercase;
  font: normal normal 300 1em Klavika Basic;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  font-size: 8em;
}

#portraiture-wrapper { 
  background-image: url("../../assets/matt-great-causeway-cutout-2.jpg");
}

#urban-wrapper { 
  background-image: url("../../assets/detroit-tigers-inlimbo-site.jpg");
}

#nature-wrapper { 
  background-image: url("../../assets/monu-valley-color.jpg");
}

.section-content-wrapper, .section-button-wrapper { 
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.section-content-wrapper {
  position: absolute;
  height: 35%;
  width: 100%;
  top: 50%;
  justify-content: space-evenly;
}
.section-button-wrapper { 
  margin-top: 10%;
}

.section-button-text { 
  text-transform: uppercase;
  font: normal normal 300 1em Klavika Basic;
  box-shadow: 1px 0px 17px 0px black;
  border: solid 1px white;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
  color: white;
  
}

#urban-button-text, #nature-button-text { 
  border: solid 1px white;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}