.homepage-container { 
  display: flex;
  flex-flow: wrap;
  height: 100%;
  width: 100%;
}

.image-container {
  display: block;
  width: 90% !important;
  height: 700px;
  max-height: 100%;
  margin: 0 auto;
}
.inlimbo-img {
  position: relative;
  display: block;
  width: 100%;
  margin: auto;
  object-fit: scale-down;
}

.carousel-container { 
    display: block;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
    background-color: #000;
}
#portraiture::before{
  content: "";
  background-image: url("../../assets/3-in-1-luis.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  z-index: -1;
  position: fixed;
  height: 100%;
  width: 100%;
}
#urban::before{
  content: "";
  background-image: url("../../assets/london-inlimbo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  z-index: -1;
  position: fixed;
  height: 100%;
  width: 100%;
}
#nature::before{
  content: "";
  background-image: url("../../assets/craggin-inlimbo-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  z-index: -1;
  position: fixed;
  height: 100%;
  width: 100%;
}
.section-container { 
  position: relative;
}