.page-showcase { 
  padding-top: 0px !important;
}
.header { 
  background-color: rgba(0, 0, 0, 0) !important;
}
.parallax-layer { 
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px;
}

.parallax-group { 
  height: 100vh;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
}
.gap { 
  height: 40vh;
}
.background-section,
.welcome-section,
.photography-section,
.retouching-section,
.background-section-monu { 
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0;
}

.background-section { 
  transform: translateZ(-1px) scale(2);
  opacity: 0.68;
}

.welcome-section,
.photography-section,
.retouching-section { 
  transform: translateZ(0px) scale(1);
}

.welcome-section {
  height: 300px; 
  width: 100%;
  bottom: calc(300px + 1%);
  top: calc(300px + 1%);
}

.home-text { 
  color: white;
  font-family: "articulat-cf", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.description-text { 
  font-weight: lighter;
}

.welcome-text { 
  font-size: 3em;
  margin-left: 5%;
}

.welcome-text:nth-of-type(1) { 
  font-weight: bold;
}

.welcome-text:nth-of-type(2) { 
  font-weight: lighter;
}

.welcome-text:nth-of-type(3) { 
  font-weight: bold;
  font-style: oblique;
}

.photography-section { 
  display: grid;
  grid-template-columns: 25% 25% 50%;
  grid-template-rows: 45% 15% 45%;
  padding: 10%;
  column-gap: 10px;
  row-gap: 10px;
}

.photography-section div:nth-of-type(1) {
  grid-column: 1 / 2; 
  grid-row: 1 / 2;
}

.photography-section div:nth-of-type(2) {
  grid-column: 1 / 2; 
  grid-row: 2 / 4;
}

.photography-section div:nth-of-type(3) {
  grid-column: 2 / 4; 
  grid-row: 1 / 3;
}

.home-content-wrapper div:nth-of-type(4) {
  grid-column: 2 / 3; 
  grid-row: 2 / 3;
}


.home-button-wrapper { 
  display: flex;
  height: auto;
  width: auto;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0);
  border: 1px solid #fff;
  padding: 2%;
}

.home-button-text { 
  font: normal normal normal 1em Klavika Basic;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
}

.homepage-container, 
.homepage-content-container, 
.homepage-top-section,
.homepage-content-photos-container,
.homepage-content-text-container  { 
  display: flex;
  flex-flow: wrap;
  height: 100%;
  width: 100%;
}


.homepage-foreground-wrapper { 
  margin-top: 10%;
}
.image-container {
  display: block;
  width: 90% !important;
  height: 700px;
  max-height: 100%;
  margin: 0 auto;
}
.inlimbo-img {
  position: relative;
  display: block;
  width: 100%;
  margin: auto;
  object-fit: scale-down;
}

.carousel-container { 
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
    background-color: #000;
    transform: translateZ(0px);
}

.homepage-content-container {
  justify-content: space-between;
  margin-bottom: 50px;
  transform-origin: 0;
  transform: translateZ(6px) scale(1);
}

.homepage-content-photos-container {
  flex-flow: nowrap;
  justify-content: space-around;
  height: 65%;
}

.homepage-content-wrapper { 
  width: 300px;
}

.homepage-content-photo-container {
  position: relative;
  height: auto;
}

.homepage-content-photo-label { 
  color: white;
  position: absolute;
  bottom: 0;
  background-color: #171717;
  width: 100%;
  height: 13%;
  margin-bottom: 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
}

.homepage-content-text-container { 
  height: 35%;
  padding: 5%;
}

.homepage-content-text { 
  color: white;
  font-size: 1.3em;
  padding: 10%;
}