
.list-container { 
    height: 90%;
    width: 100%;
    overflow-y: auto;
}
.list-item-container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    list-style: none !important;
    margin: 0;
    padding: 10px;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100%;
}
.list-item { 
 /* list-style: none !important; */
  margin: 40px 20px;
  height: 500px;
  width: calc(100%/5);
  background-color: black;
}