
.list-container { 
}
.list-item-container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    list-style: none !important;
}
.list-item { 
 /* list-style: none !important; */
 margin: 10px;
}