.page-showcase { 
    height: 100vh;
    width: 100vw;
}

.header { 
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: rgb(255 255 255 / 50%) !important;
    backdrop-filter: saturate(60%) blur(30px);
}
