.overlay-wrapper {
    display: block;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: white;
    z-index: 9999;
    top: 100%;
}

.hideButtonContainer { 
    background-color: black;
    width: 100%;
}

.up { 
    animation-name: slideUp;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    top: 0;
}

.down { 
    animation-name: slideDown;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    top: 100%;
}

@keyframes slideUp {
    from {
        top: 100%
    }
    to {
        top: 0
    }
}

@keyframes slideDown {
    from {
        top: 0
    } to { 
        top: 100%
    }
}