.inlimbo-navbar { 
    position: fixed !important;
    z-index: 1;
    background-color: white !important;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    bottom: 0;
}

.inlimbo-navbar nav { 
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

.inlimbo-navbar nav a { 
    margin: auto 5px;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    padding: 5px;
}