.inlimbo-navbar { 
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100px;
    position: fixed !important;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-color: white !important;


}

.inlimbo-navbar nav { 
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

.inlimbo-navbar nav a { 
    margin: auto 10px;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    padding: 5px;
}