@media all and (min-width: 200px) {
    .header {
        height: 100px;
    }
    .logo img { 
        height: 60px;
    }
    .page-showcase {
        padding-top: 93px;
        padding-bottom: 73px;
    }
    .list-item {
        height: 100%;
    } 
    .inlimbo-navbar {
        height: 75px;
        bottom: 0;
        background-color: rgba(255,255,255, 0.7);
    }

    .section-container { 
        height: 400px;
    }
}

@media all and (min-width: 600px) { 
    .section-container { 
        height: 100%;
    }
    .tile-grid { 
        grid-template-columns: 33% 33% 33% !important;
    }
    .content-title, .content-link {
        grid-column: 3 / 4 !important;
    }

    .content-title{ 
        font-size: 5em !important;
        text-align: left !important;
        word-wrap: break-word !important;
    }
}

@media all and (min-width: 820px) { 
    .header { 
        height: 100px;
    }
    .logo img { 
        height: 65px;
    }
    .page-showcase { 
        padding-top: calc(156px);
        padding-bottom: 0;
    }
    .list-item {
        height: 200px;
    } 
    .inlimbo-navbar { 
        height: 66px;
        top: 0;
    }
}