@media all and (min-width: 200px) {
    .header {
        height: 100px;
    }
    .logo img { 
        height: 60px;
    }
    .page-showcase {
        padding-top: 93px;
        padding-bottom: 73px;
    }
    .list-item {
        height: 100%;
    } 
    .inlimbo-navbar {
        height: 75px;
        bottom: 0;
        background-color: rgba(255,255,255, 0.7);
    }

    .section-container { 
        height: 400px;
    }
}

@media all and (min-width: 600px) { 
    .section-container { 
        height: 100%;
        width: 80%;
    }
    .tile-grid { 
        grid-template-columns: 33% 33% 33% !important;
    }
    .content-title, .content-link {
        grid-column: 3 / 4 !important;
    }

    .content-title{ 
        font-size: 5em !important;
        text-align: left !important;
        word-wrap: break-word !important;
    }
}

@media all and (min-width: 820px) { 
    .header { 
        height: 100px;
    }
    .logo img { 
        height: 65px;
    }
    .page-showcase { 
        padding-top: calc(156px);
        padding-bottom: 0;
    }
    .list-item {
        height: 200px;
    } 
    .inlimbo-navbar { 
        height: 66px;
        top: 0;
    }

}

@media all and (min-width: 1000px) { 
    #portraiture p:nth-of-type(1) { 
        font-size: 7em !important;
    }
}

@media all and (min-width: 1035px) { 
    #portraiture p:nth-of-type(1) { 
        font-size: 8em !important;
    }
}
@media all and (min-width: 1160px) { 
    #portraiture p:nth-of-type(1) { 
        font-size: 9em !important;
    }
}
@media all and (min-width: 1286px) { 
    #portraiture p:nth-of-type(1) { 
        font-size: 10em !important;
    }
}
@media all and (min-width: 1400px) { 
    #portraiture p:nth-of-type(1) { 
        font-size: 11em !important;
    }
}

@media all and (min-width: 1540px) { 
    #portraiture p:nth-of-type(1) { 
        font-size: 12em !important;
    }
}

@media all and (min-width: 1666px) { 
    #portraiture p:nth-of-type(1) { 
        font-size: 13em !important;
    }
}