@media all and (min-width: 200px) {
    .header {
        height: 100px;
    }
    .logo img { 
        height: 60px;
    }
    .page-showcase {
        padding-top: 93px;
        padding-bottom: 73px;
    }
    .list-item {
        height: 100%;
    } 
    .inlimbo-navbar {
        height: 75px;
        bottom: 0;
        background-color: rgba(255,255,255, 0.7);
    }

    .section-container { 
        height: 300px;
    }
}

@media all and (min-width: 820px) { 
    .header { 
        height: 100px;
    }
    .logo img { 
        height: 65px;
    }
    .page-showcase { 
        padding-top: calc(156px);
        padding-bottom: 0;
    }
    .list-item {
        height: 200px;
    } 
    .inlimbo-navbar { 
        height: 66px;
        top: 0;
    }
}